<div class="header">
  <div class="container">
    <h1>Home Page</h1>
  </div>
</div>

<div class="main">
 <div class="container">
   <%= link_to 'Sign Up', "users/new" %>
   <%= link_to 'Sign In', "sessions/new" %>
 </div>
</div>